/*
	- Layout
*/
.em.content{
    padding: 30px;
}
.em a .image-overlay,
.em a:hover .image-overlay,
.em a:hover .image-overlay * {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    position: static !important;
}

/* only in admin mode */
.em.em-in-admin {
    padding-top: 0;
}
.em.em-in-admin .em-tip {display: none !important}

.em input,
.em select,
.em textarea{
    font-size: 15px;
}

.em * {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.em-left {float: left}

.em-right {float: right}

.em-clear {clear: both}

.em-center {text-align: center}
.em-center .em-button {
    display: inline-block !important;
    width: auto !important;
    min-width: 250px !important;
}

.em-half { width: 48%}

.em-field-half {width: 48%;float: left}

.em-field-half.right {float: right}

.em-field-tri {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.em img {box-shadow: none !important}

.em-col {padding-bottom: 20px}
.em-col-alt {margin: 0 0 5px 0}
.em-col-alt-s {padding-top: 10px}
.em-col-alt-b {padding-top: 20px}

.em-col-121 {float: left;width: 48%}

.em-col-122 {float: right;width: 48%}

.em-col-131 {float: left;width: 30%}

.em-col-132 {float: left;width: 30%;margin: 0 5%}

.em-col-133 {float: left;width: 30%}

/*
	- Font Icons
*/

.em-raty i {font-size: 26px}

.em-field-half .em-raty i {font-size: 21px}

.em-field-tri .em-raty i {font-size: 21px}

.em-button i {
    font-size: 22px;
    width: 22px;
    height: 12px !important;
    display: inline-block;
    line-height: 12px !important;
    vertical-align: middle !important;
    position: relative;
    top: -6px;
    margin-right: 8px;
}

/*
	- Row general css
*/

.em-row-heading {
    padding: 5px 0;
    font-size: 16px;
}

.em-row-heading i {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0 12px 0 0;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.em-row-heading i:before {
    vertical-align: middle !important;
}

/*
	- Notices
*/

p.em-notice {
    width: 98%;
    color: #fff;
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px !important;
    margin: 12px 0 0 0 !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

p.em-notice i {
    position: absolute;
    right: 14px;
    font-size: 36px;
    cursor: pointer;
    top: 7px;
    display: block;
    height: 30px;
    line-height: 30px;
}

p.em-notice.success {
    background: #7ACF58;
}

p.em-notice.err {
    background: #C74A4A;
}

p.em-notice.warning {
    background: #f9f9d1;
    color: #666;
    border: 1px solid #efe4a2;
    padding: 8px 15px !important;
}

/*
	- Errors
*/

.em-field-error {
    width: auto;
    max-width: 100%;
    background: #C74A4A;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 12px;
    font-size: 14px;
    line-height: 20px !important;
    margin: 12px 0 0 0;
}

.em-field-error a{color: #fff !important;text-decoration: underline !important}

.em-field-arrow {
    top: -17px;
    left: 10px;
    position: absolute;
    z-index: 900;
    color: #C74A4A;
    font-size: 28px;
    line-height: 1em !important;
}

.em-error-block {
    width: auto;
    max-width: 100%;
    background: #C74A4A;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 12px;
    font-size: 14px;
    line-height: 1em !important;
    margin: 12px 0 0 0;
}

/*
	- Help tooltips
*/

.em-tip {
    margin: 0 0 0 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 3px;
}

.em-tip i {
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    display: block;
    position: relative;
}

.em-tip-text {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #999;
}

/*
	- Forms & Fields
*/

.em-form button::-moz-focus-inner,
.em-form input::-moz-focus-inner {
    border: 0 !important;
    padding: 0 !important;
}

.em-field {
    position: relative;
    padding: 15px 0 0 0;
}

.em-field-b, .em-field-c {
    padding-top: 0 !important;
}

.em-field.em-is-conditional {
    display: none;
}

.em-field-label {
    display: block;
    margin: 0 0 8px 0;
}

.em-field-label .em-field-label-icon {
    float: left;
    margin: 0 8px 0 0;
    height: 22px;
    line-height: 18px;
    display: inline-block;
    width: 24px;
    text-align: center;
}
.em-field-label .em-field-label-icon i { font-size: 22px; position: relative; top: 1px; }

.em-field-label label {
    font-size: 15px !important;
    line-height: 22px !important;
    font-weight: bold;
    font-weight: 600;
}

.em-field-area {
    position: relative;
    word-wrap: break-word;
}

.em-field-value p {
    margin: 0 0 6px 0 !important;
    padding: 0;
}

.em-field-block {
    color: #777;
    font-size: 17px;
}

.em-field-shortcode {

}

.em-field-spacing {
    width: 100%;
}

.em-field-divider {
    width: 100%;
    margin: 0 0 12px 0;
    height: 24px;
    position: relative;
}

.em-field-divider-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -24px;
    left: 0;
    font-size: 16px;
    padding: 10px 0;
}

.em-field-divider-text span {
    background: #fff;
    color: #555;
    display: inline-block;
    padding: 0 15px;
}

.em-field-icon {
    position: absolute;
    cursor: default;
    text-align: center !important;
    top: 2px;
    left: 0;
    width: 44px;
    font-size: 22px;
    line-height: 1.7em;
}

.em-form input[type=text],
.em-form input[type=tel],
.em-form input[type=number],
.em-form input[type=password] {
    padding: 0 12px !important;
    width: 100%;
    display: block !important;
    border: 2px solid #ddd !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none !important;
    cursor: text !important;
    font-size: 15px !important;
    height: 40px !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    margin: 0 !important;
    position: static;
    outline: none !important;
}

.em-form input[type=number] {
    width: auto;
    padding: 0 0 0 5px !important;
    height: 30px !important;
}

.em-form input[type=text]:focus,
.em-form input[type=tel]:focus,
.em-form input[type=number]:focus,
.em-form input[type=password]:focus,
.em-form textarea:focus {
    box-shadow: none !important;
    outline: none !important;
}

.em-form input[type=text].em-iconed,
.em-form input[type=tel].em-iconed,
.em-form input[type=password].em-iconed { padding-left: 44px !important }

.em-form input[type=text].em-error,
.em-form input[type=tel].em-error,
.em-form input[type=password].em-error { border-color: #C74A4A !important }

.em-form textarea {
    width: 100%;
    padding: 8px 12px !important;
    display: block;
    font-size: 15px !important;
    line-height: 22px !important;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    min-height: 80px !important;
    box-shadow: none;
    outline: none !important;
}

.em-form .wp-editor-container {
    border: 1px solid #ddd;
}

.em-form .wp-editor-container textarea {
    background: #ddd !important;
    color: #222 !important;
    border-radius: 0;
}

/*
	- Radio & Checkboxes
*/

.em-field-c .em-field-checkbox {
    margin: 0 !important;
    position: relative;
    top: -14px;
}

.em-field-checkbox,
.em-field-radio {
    display: block;
    margin: 8px 0;
    position: relative;
    cursor: pointer !important;
}

.em-field-checkbox:hover i, .em-field-radio:hover i {color: #666}

.em-field-checkbox input,
.em-field-radio input{
    opacity: 0 !important;
    display: inline !important;
    width: 0 !important;
    float: left;
}

.em-field-checkbox-state,
.em-field-radio-state {
    position: absolute;
    top: 0;
    left: 1px;
    width: 24px;
    height: 24px;
}

.em-field-checkbox-state i,
.em-field-radio-state i {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: #aaa;
    transition: all .2s linear;
}

.em-field-checkbox-option,
.em-field-radio-option {
    margin: 0px 0px 0px 36px;
    line-height: 24px;
    color: #888 !important;
    display: block;
}

/*
	- Group of Fields
*/

.em-field-group {
    margin-top: 20px;
}

.em-field-group-head {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px;

    transition: 0.25s;
    box-sizing: border-box;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    border-top: 1px solid rgba(0,0,0,0.0) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
}

.em-field-group-head i {
    font-size: 20px;
    margin: 0 8px 0 0;
}

.em-field-group-head i:before {
    vertical-align: middle !important;
}

.em-field-group-body {
    display: none;
    margin: 15px 0 0 0;
    padding: 15px 20px 5px 20px;
    background: #f9f9f9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.em-field-group-body div.em-field {
    padding: 0 0 15px 0;
}

.em-field-group-cancel {
    font-size: 18px;
    position: absolute;
    z-index: 800;
    right: 8px;
    top: 8px;
    color: #ccc !important;
    text-decoration: none !important;
}
.em-field-group-cancel:hover {color: #777 !important}

/*
	- Buttons
*/

.em div.disabled,
.em-disabled,
.em input[type=submit]:disabled,
.em input[type=text]:disabled,
.em input[type=number]:disabled {
    opacity: 0.6 !important;
    cursor: no-drop !important;
}

input[type=submit].em-button,
input[type=submit].em-button:focus {
    vertical-align: middle !important;
    height: auto !important;
    font-size: 15px;
    cursor: pointer !important;
    width: auto;
    box-shadow: none;
    text-shadow: none;
    font-family: inherit;
    outline: none !important;
    margin: 0;
    opacity: 1;
    -webkit-appearance: none;
}

input[type=submit].em-button:hover {
    opacity: 1;
}

.em-button {
    font-size: 15px;
    border: none !important;
    display: block;
    width: 100%;
    line-height: 1em !important;
    padding: 16px 20px !important;
    text-decoration: none !important;
    text-align: center;
    text-transform: none !important;
    font-weight: normal !important;
    overflow: hidden;
    position: relative;

    transition: 0.25s;
    box-sizing: border-box;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    border-top: 1px solid rgba(0,0,0,0.0) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
    opacity: 1;
    background-color: #4d5aa4;
}


.em-button.em-btn-auto-width {
    width: auto;
    display: inline-block;
    padding: 14px 20px !important;
    min-width: 200px;
    max-width: 450px;
}

a.em-link-alt {
    line-height: 22px;
    color: #888 !important;
    display: block !important;
    text-decoration: none !important;
    font-weight: normal;
    text-align: center;
    border-bottom: none !important;
}
a.em-link-alt:hover {text-decoration: underline !important;}

/*
	- Dropdown menu
*/

.em-dropdown {
    position: absolute;
    height: auto;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 10;
    display: none;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1);
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.em-dropdown ul,
.em-dropdown li {
    list-style-type: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.em-dropdown li  a {
    display: block;
    padding: 8px 12px;
    color: #666;
    font-size: 14px;
    line-height: 18px;
}

.em-dropdown li:last-child a {
    border-top: 1px solid #e5e5e5;
    padding: 12px;
}

.em-dropdown li  a:hover {

}

.em-dropdown-b {
    position: relative;
}

.em-dropdown-arr {
    position: absolute;
    color: #fff;
    font-size: 24px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    z-index: 15;
    color: #eee;
}

.em-dropdown-arr * { display: block !important; width: 24px !important; height: 24px !important; vertical-align: bottom !important; overflow: hidden !important; line-height: 24px !important; }

/*
	- Misc.
*/

div.em-photo {
    margin: 20px auto 0 auto;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
}

div.em-photo,
div.em-photo a,
div.em-photo img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div.em-photo a {
    border: 1px solid #e5e5e5;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 1px 1px #eee;
    margin: 0 auto;
    max-width: 100%;
}

div.em-photo img {max-height: 300px; max-width: 100%;}

/*
	- other form styles
*/

span.em-req {
    margin: 0 0 0 8px;
    font-size: 14px;
    display: inline-block;
}

small.em-max-filesize {
    display: block;
    color: #999999;
    padding-top: 5px;
}
small.em-max-filesize span{
    font-size: 12px;
}

.em-form .em-field .em-field-area input.em-form-field.em-validate-not-matched,
.em-form .em-field .em-field-area input.em-form-field.em-validate-not-matched:focus,
.em-form .em-field .em-field-area input.em-form-field.em-validate-username-exists,
.em-form .em-field .em-field-area input.em-form-field.em-validate-username-exists:focus {
    border-color: #DB2929 !important;
}
table.plugin-options-table {width: 100%; padding: 0;}
table.plugin-options-table tr:nth-child(even) {background: #f9f9f9}
table.plugin-options-table tr:nth-child(odd) {background: #FFF}
table.plugin-options-table tr:first-child {width: 35%;}
table.plugin-options-table td {vertical-align: middle;}
table.plugin-options-table td+td {width: auto}
table.plugin-options-table td > p {margin-top: 0; margin-bottom: 0;}

.em-15.em .em-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.em-15.em .em-members-pagi span.current,
.em-15.em .em-members-pagi span.current:hover,
.em-15.em .em-nav-item.active a,
.em-15.em .em-nav-item.active a:hover,
.upload,
.em-modal-header,
.em-modal-btn,
.em-modal-btn.disabled,
.em-modal-btn.disabled:hover,
div.uimob800 .em-account-side li a.current,
div.uimob800 .em-account-side li a.current:hover,
.em-nav-item a:hover{
    background: #3ba1da none repeat scroll 0 0;
}
.em-nav-item a {
    border-bottom: 0 none !important;
    border-radius: 4px;
    color: #fff !important;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    padding: 6px 10px 6px 28px;
    position: relative;
    background-color: #4d5aa4;
}


p.submit {
    margin-top: 50px;
}

#pager{
    margin-top: 10px;
}

#pager textarea,
#pager select,
#pager input[type="date"],
#pager input[type="datetime"],
#pager input[type="datetime-local"],
#pager input[type="email"],
#pager input[type="month"],
#pager input[type="number"],
#pager input[type="password"],
#pager input[type="search"],
#pager input[type="tel"],
#pager input[type="text"],
#pager input[type="time"],
#pager input[type="url"],
#pager input[type="week"] {
    font-size: 13px;
    height: 28px;
    line-height: 100%;
    padding: 2px;
    width: auto;
    min-width: 50px;
}
#pager img{
    margin-top: 6px;
}

.em.content .info-table{
    margin-top: 60px;
}
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select, textarea {
    vertical-align:  middle;
}

.em-form input[type="text"],
.em-form input[type="password"],
.em-form input[type="color"],
.em-form input[type="date"],
.em-form input[type="datetime"],
.em-form input[type="datetime-local"],
.em-form input[type="email"],
.em-form input[type="month"],
.em-form input[type="number"],
.em-form input[type="password"],
.em-form input[type="search"],
.em-form input[type="radio"],
.em-form input[type="tel"],
.em-form input[type="text"],
.em-form input[type="time"],
.em-form input[type="url"],
.em-form input[type="week"],
.em-form select, .em-form textarea {
    width:  100%;
}

.em-horizontal-area{
    float:  left;
}
.em-form input[type="checkbox"]{
    margin: 5px 10px;
}

#form-add-vacation-request h2{
    margin: 10px;
}
.vacation-request-detail{
    width: auto;
    max-width: 98%;
}
.vacation-request-detail-content{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    width: auto;
    padding: 15px;
}

.vacation-request-detail-content table{
    width: auto;
}

#TB_window {
    width: auto !important;
    max-height: 500px !important;
}
.em-page-count{
    margin: 3px 10px;
    font-size: 1.1em;
    font-weight: bold;
    float:  left;
}
.em-page-links{
    float:  left;
}
.em-clear{
    clear:  both;
}
.em-go-to-page{
    margin: 3px 10px;
}
.em-go-to-page select{
    max-height: 20px;
}
.tablesaw-sortable-head button{
    background-color: #3BA1DA;
}
.fancybox-skin {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 4px;
    color: #444;
    position: relative;
    text-shadow: none;
}

div.data-hover  {
    line-height: 20px;
}
.data-hover {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.data-hover:hover{
    overflow: visible;
    white-space: normal;
    width: auto;
    position: absolute;
    background-color:#FFF;
    color: #000000;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.data-hover:hover+div {
    margin-top:20px;
}
 .calender-wrap{
     max-width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 20px;
 }